.body {
    font-family: 'Roboto Slab', serif;
}

/*-----PAGE HEADER DISPLAY-----*/
.page-header {
    background-image: linear-gradient(45deg, #3976a8 10%, #39329c 52%, #4a108b 90%);
    color: white;
}

/*-----SEARCH COLUMN STYLE ELEMENTS-----*/
.citySearch h2 {
    font-weight: bold;
}

.search-input {
    border-bottom: 2px solid rgb(139, 139, 139);
}

.search-input input {
    font-size: 20px;
    color: rgb(139, 139, 139);
    border-radius: 5px;
    border: 1px solid rgb(139, 139, 139);
    vertical-align: middle;
}

.search-input input:focus {
    outline: none;
}

.search-input button {
    font-size: 16px;
    background-color: rgb(82, 148, 209);
    box-shadow: 0 0 2px rgb(160, 160, 160);   
}

.search-input button:focus {
    box-shadow: none;    
}

/*-----SEARCH HISTORY STYLE ELEMENTS-----*/
.search-history {
    display: flex;
    flex-direction: column;
}

.search-history button {
    background-color: rgb(185, 184, 184);
    color: black;
    box-shadow: 0 0 2px rgb(160, 160, 160);
}

.search-history button:focus {
    box-shadow: none;
}

/*-----CURRENT WEATHER STYLE ELEMENTS-----*/
.weatherDetails {
    font-size: 22px;
    color: rgb(56, 56, 56);
}

.badgeYellow {
    background-color: yellow;
}

.badgeOrange {
    background-color: orange;
}

.badgeViolet {
    background-color: violet;
}
/*-----FORECAST WEATHER STYLE ELEMENTS-----*/
.forecastHead {
    font-size: 28px;
}

.forecastFlex {
    flex-wrap: wrap;
    justify-content: space-between;
}

.dayDisplay {
    background-color: rgb(45, 62, 80);
    color: white;
    padding: 10px 35px 10px 10px;
    font-size: 20px;
    box-shadow: 2px 2px 6px rgb(45, 62, 80, 50);
    border-radius: 5px;
}

.dayDisplay p {
    margin-bottom: 10px;
}

/*-----ERROR MESSAGE STYLE ELEMENTS-----*/
.warning {
    font-size: 26px;
    color: red;
}

@media screen and (max-width: 1400px) {
    /*-----FORCAST DISPLAY-----*/
    .dayDisplay {
        padding: 10px 10px 10px 10px;
    }

    .forecastFlex {
        justify-content: space-around;
    }
}

@media screen and (max-width: 1140px) {
    .citySearch {
        text-align: center;
    }

    .citySearch h2 {
        font-size: 26px;
    }

    #current-weather h2 {
        font-size: 26px;
    }
}

@media screen and (max-width: 768px) {
    .search-history {
        display: none;
    }

    .row {
        margin: 0 5px;
    }
}