.body {
    font-family: 'Roboto', sans-serif;
}

.page-header {
    background-image: linear-gradient(45deg, #3976a8 10%, #39329c 52%, #4a108b 90%);
    color: white;
}

.col-3 h2 {
    font-weight: bold;
}

.search-input {
    border-bottom: 2px solid rgb(139, 139, 139);
}

.search-input input {
    font-size: 20px;
    color: rgb(139, 139, 139);
    border-radius: 5px;
    border: 1px solid rgb(139, 139, 139);
    vertical-align: middle;
}

.search-input input:focus {
    outline: none;
}

.search-input button {
    font-size: 16px;
    background-color: rgb(82, 148, 209);    
}